# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.pyc
*.log
.env

# Django
db.sqlite3
/media
/static

# Python Virtual Environment
venv/
env/
Include/
Lib/
Scripts/

# Node.js (สำหรับโฟลเดอร์ React ของคุณ)
/node_modules
npm-debug.log